* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font_poppins;
    min-height: 100vh;
}
//Headings
h1, h2, h3, h4, h5, h6 {
    font-family: $font_poppins;
}

h1 { font-size: 3em;}
h2 { font-size: 2.6em;}
h3 { font-size: 2.2em;}
h4 { font-size: 2em;}
h5 { font-size: 1.8em;}
h6 { font-size: 1.6em;}

img {
    max-width: 100%;
    height: auto;
}

button[type=submit]:hover,input[type=submit],.button.product_type_simple{
    color: $color-secondary;
    background: $color-primary;
}