$color-primary: #000000;
$color-secondary: #fff;

$color-link-light: #fff;
$color-link-dark: #000000;

$color-text-shadow: #444444;

//Header
$color-navbar-bg: linear-gradient(90deg, rgba(223,73,196,1) 0%, rgba(57,30,147,1) 100%);;

// Structure
$mobile-breakpoint: 767px;
$tablet-breakpoint: 1024;
$desktop-breakpont: 1920px;

$container_width: 1300px;

// Typography
$font_poppins: 'Poppins', 'Arial';
$font_lato: 'Lato', 'Arial';