.social-footer {
    max-width: $desktop-breakpont;
    margin: 0 auto;

    .social-footer-inner {
        display: flex;
        justify-content: space-between;
        padding: 40px 60px;
        vertical-align: baseline;

        .subscription-form {

            p {
                color: $color-primary;
                font-weight: 500;
                font-size: 25px;
                margin-bottom: 20px;
            }

            .form-inline {
                input[type=email] {
                    width: 350px;
                    border: solid 1px;
                    font-family: $font_poppins;
                    font-weight: 300;
                    font-size: 15px;
                    letter-spacing: 3px;
                    padding: 10px;
                    margin: 0;
                }

                button[type=submit] {
                    font-family: $font_poppins;
                    font-weight: 600;
                    font-size: 15px;
                    letter-spacing: 8px;
                    border: solid 1px;
                    background-color: transparent;
                    color: $color-primary;
                    padding: 10px;
                    text-decoration: none;
                    margin: 0;
                    cursor: pointer;
                }
            }

        }
        .social-product-links {
            .social-links {
                text-align: right;
                padding-bottom: 20px;
                
                span {
                    margin-left: 25px;
                }
            }

            .products-links {
                ul {
                    list-style-type: none;
                    display: flex;
                    align-items: center;
                    width: 100%;
                
                    li {
                        font-size: 18px;
                        font-weight: 300;
                        color: $color-primary;
                    }
                
                    li + li {
                        margin-left: 35px;
                    }
                
                    a {
                        color: $color-primary;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

.footer-row {
    max-width: $desktop-breakpont;
    margin: 0 auto;
    .footer-inner {
        display: flex;
        justify-content: space-between;
        border-top: solid 1px $color-primary;
        margin: 0 60px;
        padding: 30px 0;

        span {
            font-weight: 300;
            font-size: 15px;
        }

        .footer-logo {
            font-weight: 700;
            font-size: 18px;
            letter-spacing: 15px;
        }
    }

    span {
        color: $color-primary;
    }
}

@media screen and (max-width: 767px) {
    .social-footer {
    
        .social-footer-inner {
            display: flex;
            flex-direction: column;
            align-items: center;
    
            .subscription-form {
                margin-bottom: 20px;
    
                p {
                    font-size: 20px;
                    margin-bottom: 18px;
                    text-align: center;
                }
    
                .form-inline {
                    flex-direction: column;
                    input[type=email] {
                        width: 100%;
                        margin-bottom: 10px;
                    }

                    button[type=submit] {
                        width: 100%;
                    }
                }
    
            }
            .social-product-links {
                .social-links {
                    text-align: center;
                    padding-bottom: 20px;
                    
                    span {
                        margin-left: 25px;
                    }
                }
    
                .products-links {
                    ul {
                        flex-direction: column;
                        align-items: center;
                    
                        li {
                            font-size: 15px;
                            font-weight: 300;
                            color: $color-primary;
                        }
                    
                        li + li {
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }
    
    .footer-row {
        margin: 0 auto;
        .footer-inner {
            flex-direction: column;
            align-items: center;
            margin: 0 10px;
            padding: 10px 0;
        }
    }

}

@media screen and (max-width: 1100px) {
    .social-footer {
    
        .social-footer-inner {
            display: flex;
            flex-direction: column;
            align-items: center;
    
            .subscription-form {
                margin-bottom: 20px;
    
                p {
                    font-size: 20px;
                    margin-bottom: 18px;
                    text-align: center;
                }
    
                .form-inline {
                    input[type=email] {
                        width: 350px;
                        font-size: 15px;
                    }
                }
    
            }
            .social-product-links {
                .social-links {
                    text-align: center;
                    padding-bottom: 20px;
                }
            }
        }
    }
}